*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: rgb(0, 0, 0);
    /* background: linear-gradient(45deg,  #4d94ffad 0%,rgba(66, 245, 189,0.4) 100%); */
    background: linear-gradient(45deg, #50a3a2a8 0%, #53e3a7bb 100%);
   
}



.container{
    font-family: 'source sans pro', sans-serif;
    backdrop-filter: blur(8px);
    background-color: #ececec;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .25);
    border-radius: 15px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 20px 40px;
    background-color: #2e2e2e;
    color:#ffffff;
    letter-spacing: 0.2rem;
}

.header h2 {
    text-align: center;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}



.form button{
    font-weight: 600;
    padding: 1rem 2rem; 
    border-radius: 25px;
    background-color: #4d94ff;
    color: #ffffff;
    border: 1px solid #2e2e2e;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form button:hover{
    background-color: #2e2e2e;
    color: #4d94ff;
    border-color: #4d94ff;
   
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    background-color: #ffffff;
    border: 2px solid rgb(197, 197, 197);
    padding: 1rem;
    
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #ff3d28;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

 /* display icons with color */
.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #ff3d28;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* show error message */
.form-control.error small {
    visibility: visible;
    color: #ff3d28;
}

